*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Luckiest Guy', cursive;
}
.container{
    height: 500px;
    width: 700px;
    background-color: grey;
    border: 3px solid white;
}
.container1{
    height: 418px;
    width: 230px;
    margin: 0 auto;
    /* border: 3px solid white; */
    margin-top: 2rem;
}
#name{
    height: 44px;
    width: 100%;
    margin-top: -5px;
    padding-left: 10px;
    border: none;
    background-color: orangered;
    color: white;

}
.lab{
    color: white;
    word-spacing: 7px;
    font-size: 20px;
    font-weight: bolder;
}
#avatar{
    height: 178px;
    margin-top: 41px;
    width: 100%;
   
}
#clickme{
    height: 45px;
    width: 100%;
    background-color: rgb(52 124 220);
    font-size: 27px;
    font-weight: bolder;
    margin-top: 26px;
    color: white;
    cursor: pointer;
}
